# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/SpaceShooterSFML/FileContentIndex/read.lock
.vs/SpaceShooterSFML/v17/.suo
.vs/SpaceShooterSFML/v17/Browse.VC.db
.vs/SpaceShooterSFML/v17/Browse.VC.db-shm
.vs/SpaceShooterSFML/v17/Browse.VC.db-wal
.vs/SpaceShooterSFML/v17/Browse.VC.opendb
.vs/SpaceShooterSFML/v17/ipch/AutoPCH/e4fe3933b17916d3/SPACESHOOTERSFML.ipch
.vs/SpaceShooterSFML/FileContentIndex/26f3c399-d0af-44e8-89b8-b13749fd96e8.vsidx
